<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Reset Password</title>
  </head>
  <body>
    <form id="reset-password-form" action="/reset-password" method="POST">
      <h1>Reset Password</h1>
      <input
        type="password"
        id="new-password"
        name="newPassword"
        placeholder="New Password"
        required
      />
      <input
        type="password"
        id="confirm-password"
        name="confirmPassword"
        placeholder="Confirm Password"
        required
      />
      <input
        type="hidden"
        id="token"
        name="token"
        value="<%= token %>"
        required
      />
      <button type="submit">Reset Password</button>
    </form>
    <script>
      document
        .getElementById("reset-password-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const newPassword = document.getElementById("new-password").value;
          const token = document.getElementById("token").value;
          console.log(token);
          const confirmPassword =
            document.getElementById("confirm-password").value;

          if (newPassword !== confirmPassword) {
            alert("Passwords do not match!");
            return;
          }

          const response = await fetch("/reset-password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ newPassword, token }),
          });

          const result = await response.json();

          if (response.ok) {
            alert(result.message);
            window.location.href = "/";
          } else {
            alert(result.error);
          }
        });
    </script>
  </body>
</html>
